In [1]:
import pandas as pd
pd.set_option('max_colwidth', 500)
%matplotlib inline

In [2]:
df = pd.read_csv("../data/webnlg2017/webnlg-human-evaluation-master/all_data_final_averaged.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 14 columns):
id            2230 non-null int64
mr            2230 non-null object
team          2230 non-null object
text          2037 non-null object
category      2230 non-null object
type          2230 non-null object
bleu          2230 non-null float64
meteor        2230 non-null float64
ter           2230 non-null float64
systemtype    2230 non-null object
triplesize    2230 non-null object
fluency       2230 non-null float64
grammar       2230 non-null float64
semantics     2230 non-null float64
dtypes: float64(6), int64(1), object(7)
memory usage: 244.0+ KB

In [6]:
df.team.value_counts()

vietnam         223
pkuwriter       223
adapt           223
tilburg-nmt     223
upf-forge       223
webnlg          223
tilburg-pipe    223
baseline        223
tilburg-smt     223
melbourne       223
Name: team, dtype: int64

In [44]:
df['triple_id'] = pd.factorize(df.mr)[0]
df['mr'] = df.mr.str.split('<br>')
df['triplesize'] = df.triplesize.str.slice(0, 1).astype('int')

# Teams

In [45]:
df.team.unique()

array(['adapt', 'baseline', 'melbourne', 'pkuwriter', 'tilburg-nmt',
       'tilburg-pipe', 'tilburg-smt', 'upf-forge', 'vietnam', 'webnlg'],
      dtype=object)

# Lets have a look at an example of max grade in fluency and 5 triples, with human generated

In [53]:
def sample_best(team, best_col, triplesize):
    
    team_df = df[(df.team == team) & (df.triplesize == triplesize)]
    x = team_df.nlargest(1, best_col)
    x_human = df[(df.team == 'webnlg') & (df.triple_id == x.triple_id.values[0])]
    
    return pd.concat([x, x_human]).T

## Team adapt

In [59]:
sample_best('adapt', 'fluency', 5)

,270,279
id,271,280
mr,"[AC_Hotel_Bella_Sky_Copenhagen | location | Denmark, Marriott_International | foundationPlace | Washington,_D.C., Denmark | leaderName | Lars_Løkke_Rasmussen, AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International, Denmark | language | Greenlandic_language]","[AC_Hotel_Bella_Sky_Copenhagen | location | Denmark, Marriott_International | foundationPlace | Washington,_D.C., Denmark | leaderName | Lars_Løkke_Rasmussen, AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International, Denmark | language | Greenlandic_language]"
team,adapt,webnlg
text,the leader of denmark is lars lokke rasmussen and one of the languages is greenlandic. the ac hotel bella sky is located in copenhagen and tenanted by marriott international which was founded in washington dc.,"ac hotel bella sky copenhagen is in denmark where the leader is lars lokke rasmussen and greenlandic is one of the languages spoken there . the tenant of the ac hotel bella sky copenhagen is the marriott international hotel which was founded in washington , d . c .\n"
category,Building,Building
type,seen,seen
bleu,0.409,1
meteor,0.376891,1
ter,59.77,1
systemtype,neural,human
triplesize,5,5
fluency,3,1.66667
grammar,2.66667,1.66667
semantics,2.66667,2.66667
triple_id,27,27

## Team baseline

In [60]:
sample_best('baseline', 'fluency', 5)

,211,219
id,212,220
mr,"[200_Public_Square | location | Cleveland, 200_Public_Square | completionDate | 1985, Cleveland | isPartOf | Cuyahoga_County,_Ohio, Cleveland | isPartOf | Ohio, Cleveland | country | United_States]","[200_Public_Square | location | Cleveland, 200_Public_Square | completionDate | 1985, Cleveland | isPartOf | Cuyahoga_County,_Ohio, Cleveland | isPartOf | Ohio, Cleveland | country | United_States]"
team,baseline,webnlg
text,"200 public square in cleveland, cuyahoga county, ohio, united states was completed in 1985.","the 200 public square was completed in 1985 in cuyahoga county , cleveland , ohio , united states .\n"
category,Building,Building
type,seen,seen
bleu,0.218,1
meteor,0.493012,1
ter,52.381,1
systemtype,neural,human
triplesize,5,5
fluency,3,2.33333
grammar,3,2.66667
semantics,3,2.66667
triple_id,21,21