In [2]:
import pandas as pd
pd.set_option('max_colwidth', 500)
%matplotlib inline

In [3]:
# dataset with human evaluation results

df = pd.read_csv("../data/webnlg2017/webnlg-human-evaluation-master/all_data_final_averaged.csv")

In [4]:
df.sample(1, random_state=100).T

                                                                                                                                                                                       1840
id                                                                                                                                                                                     1841
mr           Italy | officialLanguage | Italian_language<br>Italy | demonym | Italians<br>Italy | capital | Rome<br>Italy | leader | Sergio_Mattarella<br>A.S._Gubbio_1910 | ground | Italy
team                                                                                                                                                                                  adapt
text        the ground of a.s. gubbio 1910 is located in italy, where italians live and the capital is rome. the leader of italy is sergio mattarella and italian is the official language.
category                                                                                                                                                                         SportsTeam
type                                                                                                                                                                                   seen
bleu                                                                                                                                                                                  0.386
meteor                                                                                                                                                                             0.469151
ter                                                                                                                                                                                  55.932
systemtype                                                                                                                                                                           neural
triplesize                                                                                                                                                                          5triple
fluency                                                                                                                                                                             2.33333
grammar                                                                                                                                                                             2.33333
semantics                                                                                                                                                                           2.33333

In [5]:
# defines an ID based on unique values of tripleset
df['triple_id'] = pd.factorize(df.mr)[0]
# redefines column mr, spliting on <br>, which separates triples, into a list of triples
df['mr'] = df.mr.str.split('<br>')
# extracts integer number of triples from triplesize, a description(ex: 5triple -> 5)
df['triplesize'] = df.triplesize.str.slice(0, 1).astype('int')

# Teams

In [7]:
df.team.unique()

array(['adapt', 'baseline', 'melbourne', 'pkuwriter', 'tilburg-nmt',
       'tilburg-pipe', 'tilburg-smt', 'upf-forge', 'vietnam', 'webnlg'],
      dtype=object)

# Lets have a look at an example of max grade in fluency and 5 triples, with human generated

In [8]:
def sample_best(team, best_col, triplesize):
    
    # team's dataframe, with entries with triplesize
    team_df = df[(df.team == team) & (df.triplesize == triplesize)]
    # entry from above dataframe with max value of best_col
    x = team_df.nlargest(1, best_col)
    # the entry generated by humans for the same tripleset of above entry
    x_human = df[(df.team == 'webnlg') & (df.triple_id == x.triple_id.values[0])]
    
    # generates a dataframe containing both the team and human entry for the same tripleset
    return pd.concat([x, x_human]).T

## Team adapt

In [13]:
sample_best('adapt', 'fluency', 5)

,270,279
id,271,280
mr,"[AC_Hotel_Bella_Sky_Copenhagen | location | Denmark, Marriott_International | foundationPlace | Washington,_D.C., Denmark | leaderName | Lars_LÃ¸kke_Rasmussen, AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International, Denmark | language | Greenlandic_language]","[AC_Hotel_Bella_Sky_Copenhagen | location | Denmark, Marriott_International | foundationPlace | Washington,_D.C., Denmark | leaderName | Lars_LÃ¸kke_Rasmussen, AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International, Denmark | language | Greenlandic_language]"
team,adapt,webnlg
text,the leader of denmark is lars lokke rasmussen and one of the languages is greenlandic. the ac hotel bella sky is located in copenhagen and tenanted by marriott international which was founded in washington dc.,"ac hotel bella sky copenhagen is in denmark where the leader is lars lokke rasmussen and greenlandic is one of the languages spoken there . the tenant of the ac hotel bella sky copenhagen is the marriott international hotel which was founded in washington , d . c .\n"
category,Building,Building
type,seen,seen
bleu,0.409,1
meteor,0.376891,1
ter,59.77,1
systemtype,neural,human
triplesize,5,5
fluency,3,1.66667
grammar,2.66667,1.66667
semantics,2.66667,2.66667
triple_id,27,27

## Team baseline

In [14]:
sample_best('baseline', 'fluency', 5)

,211,219
id,212,220
mr,"[200_Public_Square | location | Cleveland, 200_Public_Square | completionDate | 1985, Cleveland | isPartOf | Cuyahoga_County,_Ohio, Cleveland | isPartOf | Ohio, Cleveland | country | United_States]","[200_Public_Square | location | Cleveland, 200_Public_Square | completionDate | 1985, Cleveland | isPartOf | Cuyahoga_County,_Ohio, Cleveland | isPartOf | Ohio, Cleveland | country | United_States]"
team,baseline,webnlg
text,"200 public square in cleveland, cuyahoga county, ohio, united states was completed in 1985.","the 200 public square was completed in 1985 in cuyahoga county , cleveland , ohio , united states .\n"
category,Building,Building
type,seen,seen
bleu,0.218,1
meteor,0.493012,1
ter,52.381,1
systemtype,neural,human
triplesize,5,5
fluency,3,2.33333
grammar,3,2.66667
semantics,3,2.66667
triple_id,21,21