In [1]:
import os
import pandas as pd

os.sys.path.insert(0, '../script')

from evaluation import evaluate_texts, preprocess_to_evaluate, EVALUATION_SETS

# BLEU

https://github.com/moses-smt/mosesdecoder/blob/master/scripts/generic/multi-bleu.perl

# METEOR

http://www.cs.cmu.edu/~alavie/METEOR/

Download meteor-1.5 and unpack into **../evaluation/webnlg2017/**

The jar path must be **../evaluation/webnlg2017/meteor-1.5/meteor-1.5.jar**

# TER

http://www.cs.umd.edu/~snover/tercom/

Download tercom-0.7.25 and unpack into **../evaluation/webnlg2017/**

The jar path must be **../evaluation/webnlg2017/tercom-0.7.25/tercom-0.7.25.jar**

<img src="../img/competition_results.jpg" />

# Reference texts

In [4]:
from webnlg_corpus import webnlg
import os

if not os.path.isfile('../model/reference_1.txt'):
    corpus = webnlg.load('webnlg_challenge_2017')
    test = corpus.subset(datasets=['test'])

    with open('../model/reference_1.txt', 'w', encoding='utf-8') as f:

        for e in test:

            f.write(list(e.lexes)[0])
            f.write('\n')
        
preprocess_to_evaluate('../model/reference_1.txt', 'ref-1')
evaluate_texts('../model/ref-1_all-cat.txt')

{'bleu': 100.0, 'meteor': 1.0, 'ter': 0.0}

In [3]:
results = {}

## Melbourne

<a href="../data/webnlg2017/submissions/melbourne/WebNLG Challenge - Bayu Distiawan T.pdf">report</a>

In [4]:
team = 'melbourne'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/GKB_Unimelb_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,45.130000,54.520000,33.270000,63.810000,51.250000,43.420000,42.140000,36.720000,52.160000,48.650000
meteor,0.376396,0.414642,0.332213,0.471922,0.421393,0.376657,0.358887,0.327765,0.378531,0.355614
ter,0.474403,0.402598,0.559212,0.274120,0.389833,0.470233,0.520130,0.579703,0.469173,0.467217

In [5]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/GKB_Unimelb_all-cat.txt | tail -10

castle is english language .
eric flint was born in burbank , california .
macmillan publishers is the parent company of farrar , straus and giroux .
john cowper powys was a glastonbury romance .
soho press is in united states .
the secret scripture was published by faber and faber .
asian americans are an ethnic group in united states .
english language is spoken in united states .
weymouth sands was preceded by a glastonbury romance .
the manager of a . c . chievo verona is rolando maran .

## Tilb-SMT

<a href="../data/webnlg2017/submissions/tilburg/report.pdf">report</a>

In [6]:
team = 'tilb-smt'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-2_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,44.280000,54.290000,29.880000,52.160000,48.160000,43.420000,42.440000,38.680000,49.710000,44.440000
meteor,0.380463,0.421025,0.333329,0.412354,0.399773,0.380756,0.372728,0.361045,0.404062,0.390495
ter,0.537692,0.470480,0.617078,0.367070,0.464433,0.535855,0.573584,0.615279,0.565714,0.636231

In [7]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-2_all-cat.txt | tail -10

novel castle is english language
. eric flint was born in burbank , california .
macmillan publishers is the parent company of farrar , straus and giroux
john cowper powys notablework a glastonbury romance
soho press , united states .
, published by faber and faber
asian americans are an ethnic group .
english is the language of the united states .
weymouth sands was preceded by a glastonbury romance
the manager of a . c . chievo verona is rolando maran

## PKUWriter

<a href="../data/webnlg2017/submissions/pkuwriter/PKUWriter_system.pdf">report</a>

In [8]:
team = 'pkuwriter'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/PKUWriter_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,39.880000,51.230000,25.360000,53.150000,45.340000,34.950000,36.840000,34.170000,52.890000,52.860000
meteor,0.317421,0.377294,0.248942,0.415371,0.355510,0.301366,0.292635,0.274453,0.389259,0.381921
ter,0.553001,0.450055,0.674590,0.371388,0.481268,0.601907,0.589416,0.623402,0.425865,0.466246

In [9]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/PKUWriter_all-cat.txt | tail -10

the novel into battle is written by the english language .
john cowper powys was born in burbank , california .
the parent company of the macmillan publishers press is the macmillan publishers company of the macmillan publishers .
the novel owen glendower is a notable work by john cowper powys .
soho press is located in united states .
the polish academy for writtenwork is referencenumber _ in _ the _ national _ register _ of _ historic _ places .
asian americans are an ethnic group in the united states .
english is the language spoken in the united states .
the novel into battle is preceded by a glastonbury romance .
rolando maran manages the a . c . chievo verona .

## UPF-FORGe

<a href="../data/webnlg2017/submissions/upf/WebNLG_V0.2.pdf">report</a>

In [10]:
team = 'upf-forge'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/UPF-TALN_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,38.650000,40.880000,35.700000,60.290000,43.240000,36.840000,35.540000,32.660000,38.330000,37.840000
meteor,0.391077,0.405867,0.373621,0.469279,0.409700,0.383582,0.376883,0.367748,0.402804,0.399411
ter,0.559327,0.559126,0.559565,0.270624,0.467734,0.567642,0.622324,0.665456,0.598195,0.654687

In [11]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/UPF-TALN_all-cat.txt | tail -10

the english language is spoken in castle ( novel ) .
eric flint was born in burbank ( california ) .
the parent company of farrar , straus and giroux is macmillan publishers .
a glastonbury romance wrote john cowper powys .
soho press is published in the united states .
the publisher of the secret scripture is faber and faber .
a ethnic group of the united states are asian americans .
the english language is spoken in the united states .
weymouth sands follows a glastonbury romance .
rolando maran is the manager of a . c . chievo verona .

## Tilb-Pipeline

<a href="../data/webnlg2017/submissions/tilburg/report.pdf">report</a>

In [12]:
team = 'tilb-pipeline'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-3_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,35.290000,44.340000,20.650000,44.810000,34.840000,33.910000,34.05000,33.030000,39.830000,40.680000
meteor,0.308340,0.382392,0.216254,0.323192,0.318193,0.307431,0.29762,0.296692,0.358336,0.387253
ter,0.566023,0.488559,0.657518,0.475854,0.515267,0.559991,0.57812,0.629880,0.571128,0.604177

In [13]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-3_all-cat.txt | tail -10

castle is in english .
eric flint was born in burbank , california .
macmillan publishers owns farrar , straus , and giroux .
a glastonbury romance is a notable work by john cowper powys .
soho press is in united states .
the secret scripture publisher of faber and faber .
asian americans live in united states .
united states is in english .
weymouth sands was preceded by a glastonbury romance .
rolando maran manages a . c . chievo verona .

## Tilb-NMT

<a href="../data/webnlg2017/submissions/tilburg/report.pdf">report</a>

In [14]:
team = 'tilb-nmt'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-1_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,34.600000,43.280000,25.120000,50.330000,37.13000,31.850000,32.920000,28.640000,39.880000,34.260000
meteor,0.348784,0.382624,0.310575,0.447765,0.38422,0.345341,0.330702,0.306137,0.346942,0.338627
ter,0.609501,0.514568,0.721628,0.429996,0.58442,0.646517,0.622947,0.665970,0.585564,0.616804

In [15]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Tilburg_University-1_all-cat.txt | tail -10

english is the language of castle .
eric flint was born in burbank , california .
macmillan publishers is the parent company of farrar , straus , and giroux .
a glastonbury romance is a notable work by john cowper powys .
soho press is located in united states .
th secret scriptures was published by faber and faber .
asian americans are an ethnic group in united states .
english is the language of united states .
weymouth sands was preceded by a glastonbury romance .
the manager of a . c . chievo verona is rolando maran .

## Baseline

In [16]:
team = 'baseline'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Baseline_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,33.240000,52.390000,6.130000,42.360000,33.830000,30.460000,31.110000,28.880000,53.250000,53.810000
meteor,0.235436,0.377720,0.075353,0.277388,0.241359,0.222312,0.221627,0.210370,0.368557,0.378776
ter,0.613080,0.448648,0.807292,0.491072,0.575508,0.639728,0.653365,0.669054,0.426767,0.402137

In [17]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/Baseline_all-cat.txt | tail -10

the english language is spoken in the republic of ireland .
author was born in burbank , california .
the parent company of wiley - blackwell is macmillan publishers .
a glastonbury romance was written by author .
lahore is in the united states .
the parent company of wiley - blackwell is parentcompany .
asian americans are an ethnic group in the united states .
english is the language of the united states .
a glastonbury romance was preceded by precededby .
the manager of a . c . chievo verona is rolando maran .

## Adapt

<a href="../data/webnlg2017/submissions/adaptCenter/WebNLG_system.pdf">report</a>

In [18]:
team = 'adapt'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/ADAPT_Centre_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,31.060000,60.590000,10.530000,48.130000,33.770000,27.780000,27.560000,26.350000,62.030000,62.960000
meteor,0.315980,0.445389,0.192333,0.378119,0.326372,0.306462,0.296947,0.290825,0.432208,0.435427
ter,0.849266,0.378763,1.404981,0.442952,0.727348,0.935833,0.982271,0.996950,0.370827,0.372997

In [19]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/ADAPT_Centre_all-cat.txt | tail -10

the novel castle is the language spoken in the english language .
eric flint was born in burbank , california .
macmillan publishers is the parent company of farrar , straus and giroux .
a glastonbury romance is the notable work of john cowper powys .
soho press is located in the united states .
the novel the secret scriptures , is published by faber and faber .
asian americans are an ethnic group in the u . s .
english is the language of the united states .
a glastonbury romance is the sequel to weymouth sands .
the manager of a . c . chievo verona is rolando maran .

## UIT-VNU

<a href="../data/webnlg2017/submissions/uit-danglt-clnlp/Phong-Nguyen-Tran_Dang-Tuan-Nguyen.docx">report</a>

In [20]:
team = 'uit-vnu'
results[team] = {}

for eval_set in EVALUATION_SETS:
    
    results[team][eval_set] = evaluate_texts(f'../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/UIT-DANGNT-CLNLP_{eval_set}.txt', eval_set)
    
df = pd.DataFrame(results[team])
df

,all-cat,old-cat,new-cat,1size,2size,3size,4size,5size,6size,7size
bleu,7.070000,19.870000,0.110000,44.650000,16.520000,5.690000,0.310000,0.010000,0.000000,0.000000
meteor,0.099207,0.153499,0.033486,0.328469,0.156637,0.091948,0.042366,0.021128,0.000000,0.000000
ter,0.827492,0.785071,0.877597,0.625150,0.764153,0.831528,0.866558,0.896699,0.929323,0.929577

In [21]:
!head -100 ../evaluation/webnlg2017/webnlg-automatic-evaluation/teams/UIT-DANGNT-CLNLP_all-cat.txt | tail -10

english language is one of the languages that is spoken in castle ( novel ) .
the birth place of eric flint is burbank , california .
macmillan publishers is the parent company of the farrar , straus and giroux .
null
soho press is located within the country of the united states .
the book the secret scripture was published by faber and faber .
asian americans are part of one of the ethnic groups in the united states .
english language is one of the languages that is spoken in united states .
a glastonbury romance was written prior to weymouth sands .
rolando maran is the manager of the a . c . chievo verona .

# All results

In [40]:
dfs = []
for k, v in results.items():
    
    df = pd.DataFrame(v).T
    
    df = pd.concat([df], keys=[k], names=['team'])
    
    dfs.append(df)

In [43]:
df = pd.concat(dfs)
df

                    bleu    meteor       ter
team
melbourne all-cat  45.13  0.376396  0.474403
          old-cat  54.52  0.414642  0.402598
          new-cat  33.27  0.332213  0.559212
          1size    63.81  0.471922  0.274120
          2size    51.25  0.421393  0.389833
          3size    43.42  0.376657  0.470233
          4size    42.14  0.358887  0.520130
          5size    36.72  0.327765  0.579703
          6size    52.16  0.378531  0.469173
          7size    48.65  0.355614  0.467217
tilb-smt  all-cat  44.28  0.380463  0.537692
          old-cat  54.29  0.421025  0.470480
          new-cat  29.88  0.333329  0.617078
          1size    52.16  0.412354  0.367070
          2size    48.16  0.399773  0.464433
          3size    43.42  0.380756  0.535855
          4size    42.44  0.372728  0.573584
          5size    38.68  0.361045  0.615279
          6size    49.71  0.404062  0.565714
          7size    44.44  0.390495  0.636231
pkuwriter all-cat  39.88  0.317421  0.553001
          old-cat  51.23  0.377294  0.450055
          new-cat  25.36  0.248942  0.674590
          1size    53.15  0.415371  0.371388
          2size    45.34  0.355510  0.481268
          3size    34.95  0.301366  0.601907
          4size    36.84  0.292635  0.589416
          5size    34.17  0.274453  0.623402
          6size    52.89  0.389259  0.425865
          7size    52.86  0.381921  0.466246
...                  ...       ...       ...
baseline  all-cat  33.24  0.235436  0.613080
          old-cat  52.39  0.377720  0.448648
          new-cat   6.13  0.075353  0.807292
          1size    42.36  0.277388  0.491072
          2size    33.83  0.241359  0.575508
          3size    30.46  0.222312  0.639728
          4size    31.11  0.221627  0.653365
          5size    28.88  0.210370  0.669054
          6size    53.25  0.368557  0.426767
          7size    53.81  0.378776  0.402137
adapt     all-cat  31.06  0.315980  0.849266
          old-cat  60.59  0.445389  0.378763
          new-cat  10.53  0.192333  1.404981
          1size    48.13  0.378119  0.442952
          2size    33.77  0.326372  0.727348
          3size    27.78  0.306462  0.935833
          4size    27.56  0.296947  0.982271
          5size    26.35  0.290825  0.996950
          6size    62.03  0.432208  0.370827
          7size    62.96  0.435427  0.372997
uit-vnu   all-cat   7.07  0.099207  0.827492
          old-cat  19.87  0.153499  0.785071
          new-cat   0.11  0.033486  0.877597
          1size    44.65  0.328469  0.625150
          2size    16.52  0.156637  0.764153
          3size     5.69  0.091948  0.831528
          4size     0.31  0.042366  0.866558
          5size     0.01  0.021128  0.896699
          6size     0.00  0.000000  0.929323
          7size     0.00  0.000000  0.929577

[90 rows x 3 columns]

In [44]:
df.to_csv('all_evaluation_results.csv')